{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Scotto</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://v40.pingendo.com/assets/4.0.0/default/theme.css" type="text/css"> </head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  {% block head_content %}
  {% endblock head_content %}

</head>

<body style="background-color:black; color:#f2f2f2; font-family: Helvetica Neue">

  <!-- Nav bar -->
  <nav class="navbar navbar-expand-md navbar-dark" style="background-color:black">
    <div class="container">
      <a class="navbar-brand" href="/"><i class="fa d-inline fa-lg fa-cloud"></i><b>  Scotto</b></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false"
        aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa d-inline fa-lg fa-info-circle"></i> About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "account"}"><i class="fa d-inline fa-lg fa-address-book-o"></i> Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa d-inline fa-lg fa-envelope-o"></i> Contacts</a>
          </li>


        </ul>
        <a class="btn navbar-btn ml-2 text-white " id="accountAddr"><i class="fa d-inline fa-lg fa-user-circle-o"></i> </a>
      </div>
    </div>
  </nav>

  {% block body_content %}
  {% endblock body_content %}

</body>

<!-- TODO: DELETE IT - testing purpose -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script type="text/javascript" src='{% static "ABI/MainABI.js" %}'></script>
<script type="text/javascript" src='{% static "ABI/GameABI.js" %}'></script>

<script src="https://cdn.rawgit.com/ethereum/web3.js/develop/dist/web3.js"></script>
<script type="text/javascript" src='{% static "util/common.js" %}'></script>
<script type="text/javascript" src='{% static "util/timestamp.js" %}'></script>


{% block script_content %}
{% endblock script_content %}

{% block style_content %}
{% endblock style_content %}

</html>
