{% extends 'base.html' %}
{% load static %}

{% block head_content %}
  <input hidden id="gid" value={{gid}}>
  <link rel="stylesheet" href="{% static 'FlipClock-master/compiled/flipclock.css' %}">
{% endblock head_content %}

{% block body_content %}

  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center">
            <span class="display-3 text-primary" style="font-weight:bold;margin-right:10px" name="teamA"></span>
            vs
            <span class="display-3 text-primary" style="font-weight:bold;margin-left:10px" name="teamB"></span>
          </h1>
          <h3 class="text-center text-secondary" style="font-weight:bold" id="league"></h3>
          <h6 class="text-center" id="time"></h6>
          <div id="playingDiv" style="display:none">
            <br><br><br>
            <h1 class="text-center" style="font-weight:bold;font-size:100"><label style="background-color:#8A2BE2">PLAYING</label></h1>
          </div>
          <div id="closeDiv" style="display:none">
            <br><br><br>
            <h1 class="text-center" style="font-weight:bold;font-size:100"><label style="background-color:#B22222">CLOSED</label></h1>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Counter -->
  <div class="container">
    <div class="row">
      <div class="col-xl-12 mx auto">
        <div class="mb-5">
          <div class="form-row col-md-8 mx-auto">
            <div class="clock"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Betting -->
  <div class="py-5" id="bettingDiv" style="display:none">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="mb-5">
            <div class="form-row col-md-12 mx-auto">
              <div class="col-md-4">
                <select class="form-control" id="result_selected">
                  <optgroup label="Select Team">
                    <option disabled selected hidden>Select Team</option>
                    <option name="teamA" value="0"></option>
                    <option name="teamB" value="1"></option>
                    <option value="2">Draw</option>
                  </optgroup>
                </select>
              </div>
              <span class="col-md-1"></span>
              <input class="form-control col-md-3" type="number" id="ether_amount" min="0" max="100" placeholder=" Ether Amount">
              <span class="col-md-1"></span>
              <input class="form-control col-md-3" type="number" id="token_amount" min="0" max="10000" placeholder=" No.tokens"><br>
            </div>
            <div class="form-row col-md-12 mx-auto" style="margin-top:50px">
              <button class="col-md-6 btn btn-outline-primary" style="margin:auto" onclick="betGame()">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Enter Result -->
  <div class="py-5" id="resultDiv" style="display:none">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="mb-5">
            <div class="form-row col-md-12 mx-auto">
              <div class="col-md-5">
                <select class="form-control" id="result_entered">
                  <optgroup label="Select Team">
                    <option disabled selected hidden>Select Team</option>
                    <option name="teamA" value="0"></option>
                    <option name="teamB" value="1"></option>
                    <option value="2">Draw</option>
                  </optgroup>
                </select>
              </div>
              <span class="col-md-2"></span>
              <input class="form-control col-md-5" type="number" id="result_token_amount" min="0" max="10000" placeholder=" No.tokens"><br>
            </div>
            <div class="form-row col-md-12 mx-auto" style="margin-top:50px">
              <button class="col-md-6 btn btn-outline-primary" style="margin:auto" onclick="enterResult()">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="py-5" id="rewardDiv" style="display:none">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="mb-5">
            <div class="form-row col-md-12 mx-auto">
              <button class="col-md-12 btn btn-outline-primary" onclick="reward()">
                <h2 style="font-weight:bold">Reward</h2>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Betting info -->
  <div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-4" style="background-color:rgb(30,30,30);float:left;">
            <h5 name="teamA" class="text-center" style="margin-top:10px;font-weight:bold"></h5><br><br>
            <img src="{% static 'img/ethereum.jpg' %}" width="25"><span id="total_ether_A"> Total Ether Betted: </span><br>
            <img src="{% static 'img/Blank_BitCoin_Logo_Graphic.png' %}" width="20"><span id="total_token_A"> Total Token Betted: </span><br>
            <br>
          </div>
          <div class="col-md-4" style="background-color:rgb(40,40,40);float:left;">
            <h5 name="DRAW" class="text-center" style="margin-top:10px;font-weight:bold">DRAW</h5><br><br>

            <img src="{% static 'img/ethereum.jpg' %}" width="25"><span id="total_ether_DRAW"> Total Ether Betted: </span><br>
            <img src="{% static 'img/Blank_BitCoin_Logo_Graphic.png' %}" width="20"><span id="total_token_DRAW"> Total Token Betted: </span><br>
            <br>
          </div>

          <div class="col-md-4" style="background-color:rgb(30,30,30);float:right;">
            <h5 name="teamB" class="text-center" style="margin-top:10px;font-weight:bold"></h5><br><br>

            <img src="{% static 'img/ethereum.jpg' %}" width="25"><span id="total_ether_B"> Total Ether Betted: </span><br>
            <img src="{% static 'img/Blank_BitCoin_Logo_Graphic.png' %}" width="20"><span id="total_token_B"> Total Token Betted: </span><br>
            <br>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock body_content %}

{% block script_content %}
  <script type="text/javascript" src='{% static "datetimepicker/jquery/jquery-1.8.3.min.js" %}' charset="UTF-8"></script>
  <script type="text/javascript" src='{% static "util/jquery.cookie.js" %}'></script>
  <script>
  // Script related to ajax & csrf token

  var csrftoken = $.cookie('csrftoken');

  function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }

  $.ajaxSetup({
      beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
      }
  });

  </script>

  <script src="{% static 'FlipClock-master/compiled/flipclock.min.js' %}"></script>

  <script type="text/javascript">
		var clock;

		$(document).ready(function() {
			clock = $('.clock').FlipClock({
		        clockFace: 'DailyCounter',
		        autoStart: false,
		        callbacks: {
		        	stop: function() {
		        		$('.message').html('The clock has stopped!')
		        	}
		        }
		    });

		});
	</script>

  <script>
  // Script related to web3


  var gameAddr;
  var game;
  var gid;
  var status;

  function init(){
    Toto = web3.eth.contract(mainAbi);
    Game = web3.eth.contract(gameAbi);
    gid = parseInt(document.getElementById("gid").value);

    console.log(contractAddress);

    Toto.at(contractAddress, function(e, instance) {
      toto = instance;
      instance.getGames(function(e,games){
        if(e) {
          console.log(e);
          return;
        }
        if (gid > games.length) console.log("Unexisting Game");  // TODO: 404 error handling
        let gameAddr = games[gid];

        game = Game.at(gameAddr);
        games[gid] = game;
        showGameInfo(games, gid);
        getBettingInfo();
      });

    });
  }

  var league;
  var A_B_DRAW;
  var startTimeStamp;

  function showGameInfo(games, gid) {
    getGameInfo(games, gid).then(info => {
      league = info[0];
      A_B_DRAW = info[1];
      let time = info[2];
      let status = info[3];
      startTimeStamp = info[4];

      let teamA_elements = document.getElementsByName("teamA");
      let teamB_elements = document.getElementsByName("teamB");

      for (var i=0; i<teamA_elements.length; ++i){
        teamA_elements[i].innerHTML = A_B_DRAW[0];
      }

      for (var i=0; i<teamB_elements.length; ++i){
        teamB_elements[i].innerHTML = A_B_DRAW[1];
      }

      document.getElementById("league").innerHTML = league;
      document.getElementById("time").innerHTML = time;


      changeTemplateStatus(status, startTimeStamp);
    })
  }

  function changeTemplateStatus(status, startTime) {
    if (status == 0) {  // Betting
      document.getElementById("bettingDiv").style.display = "block";

      let date = new Date();
      let now = toTimestamp(date.getFullYear(), date.getMonth()+1, date.getDate(), date.getHours(), date.getMinutes(), date.getSeconds());

      clock.setTime(startTime - now);
      console.log(startTime);
      clock.setCountdown(true);
      clock.start();
    }
    else if (status == 1) { // PLAYING
      document.getElementById("playingDiv").style.display = "block";

      let date = new Date();
      let now = toTimestamp(date.getFullYear(), date.getMonth()+1, date.getDate(), date.getHours(), date.getMinutes(), date.getSeconds());

      clock.setTime(startTime + PLAYTING_TIME - now)
      clock.setCountdown(true);
      clock.start();
    }
    else if (status == 2) { // Result
      document.getElementById("resultDiv").style.display = "block";

      let date = new Date();
      let now = toTimestamp(date.getFullYear(), date.getMonth()+1, date.getDate(), date.getHours(), date.getMinutes(), date.getSeconds());

      clock.setTime(startTime + PLAYTING_TIME + RESULT_TIME - now);
      clock.setCountdown(true);
      clock.start();
    }
    else if (status == 3) { // Reward
      document.getElementById("rewardDiv").style.display = "block";
      clock.setTime(0);
    }
    else if (status == 4) { // Close
      document.getElementById("closeDiv").style.display = "block";
      clock.setTime(0);
    }
    else console.log(`Invalid status (${status})`);
  }


  function getBettingInfo() {
    game.getBettingInfo(function(e,r){
      if(e) {
        console.log(e);
        return;
      }
      document.getElementById("total_ether_A").innerHTML += web3.fromWei(r[0].toNumber(), 'ether') + ' ETH';
      document.getElementById("total_token_A").innerHTML += r[1].toNumber() + ' SCT';

      document.getElementById("total_ether_B").innerHTML += web3.fromWei(r[2].toNumber(), 'ether') + ' ETH';
      document.getElementById("total_token_B").innerHTML += r[3].toNumber() + ' SCT';

      document.getElementById("total_ether_DRAW").innerHTML += web3.fromWei(r[4].toNumber(), 'ether') + ' ETH';
      document.getElementById("total_token_DRAW").innerHTML += r[5].toNumber() + ' SCT';

    });
  }

  function betGame() {
    var result_opt = document.getElementById('result_selected');
    var result = parseInt(result_opt[result_opt.selectedIndex].value);

    var etherAmount = document.getElementById('ether_amount').value;
    var tokenAmount = parseInt(document.getElementById('token_amount').value);

    if (confirm(`Are you sure to bet to this game?\n( to ${A_B_DRAW[result]} - ${etherAmount} ETH, ${tokenAmount} SCT )`)){
      toto.betGame(gid, tokenAmount, result, {value:web3.toWei(etherAmount, 'ether')}, function(e,txid){
        if (e){ console.log(e); return; }
        alert('Successfully bet to this game!');
        $.ajax({
           type: "POST",
           url: "/home/putDB/bet",
           data: {"txid":txid,
                  "addr": accountAddr,
                  "league":league,"teamA":A_B_DRAW[0], "teamB":A_B_DRAW[1],
                  "startTimeStamp":startTimeStamp
            },
            dataType: 'json',
           success: function() { console.log('Successfully put bet Info into DB')}
        }); // end ajax
      });
    }
  }

  function enterResult() {
    var result_opt = document.getElementById('result_entered');
    var result = parseInt(result_opt[result_opt.selectedIndex].value);

    var tokenAmount = parseInt(document.getElementById('result_token_amount').value);

    if (confirm(`Are you sure to verify this game?\n( to ${A_B_DRAW[result]} - ${tokenAmount} SCT )`)){
      toto.enterResult(gid, tokenAmount, result, function(e,txid) {
        if (e) { console.log(e); }
        alert('Successfully verified this game!');
        $.ajax({
           type: "POST",
           url: "/home/putDB/verify",
           data: {"txid":txid,
                  "addr": accountAddr,
                  "league":league,"teamA":A_B_DRAW[0], "teamB":A_B_DRAW[1],
                  "startTimeStamp":startTimeStamp
            },
            dataType: 'json',
           success: function() { console.log('Successfully put bet Info into DB')}
        }); // end ajax
      });
    }

  }

  function reward() {
    toto.checkResult(gid, function(e,r) {
      if (e) { console.log(e);}
      alert('Rewarding has been finished!')
    })
  }

  </script>

{% endblock script_content %}
