{% extends "base.html" %}

{% block head_content %}
<!-- datetimepicker -->
<script type="text/javascript" src="/bower_components/jquery/jquery.min.js"></script>
<script type="text/javascript" src="./bower_components/moment/min/moment.min.js"></script>
<script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
{% endblock head_content %}


{% block content %}

<h1>home</h1>

<div class="col-md-12" id="create_game">
  <!-- TeamA -->
  <div class="col-md-3" id="teamA">
    <select class="form-control" name="TeamA">
      <optgroup label="TeamA">
        <option disabled selected hidden>Team</option>
        <option>a</option>
        <option>b</option>
        <option>c</option>
      </optgroup>
    </select>
  </div>

  <!-- TeamB -->
  <div class="col-md-3" id="teamB">
    <select class="form-control" name="TeamB">
      <optgroup label="TeamB">
        <option disabled selected hidden>Team</option>
        <option>a</option>
        <option>b</option>
        <option>c</option>
      </optgroup>
    </select>
  </div>

  <div class='col-sm-6'>
    <div class="form-group">
      <div class='input-group date' id='datetimepicker1'>
        <input type='text' class="form-control" />
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker();
    });
  </script>

</div>  <!--largest div-->



{% endblock content %}
