{% extends "base.html" %}

{% block head_content %}

{% endblock head_content %}


{% block content %}

<h1>home</h1>

<div class="col-md-12" id="create_game">
  <!-- TeamA -->
  <div class="col-md-3" id="teamA">
    <select class="form-control" name="TeamA">
      <optgroup label="TeamA">
        <option disabled selected hidden>Team</option>
        <option>a</option>
        <option>b</option>
        <option>c</option>
      </optgroup>
    </select>
  </div>

  <!-- TeamB -->
  <div class="col-md-3" id="teamB">
    <select class="form-control" name="TeamB">
      <optgroup label="TeamB">
        <option disabled selected hidden>Team</option>
        <option>a</option>
        <option>b</option>
        <option>c</option>
      </optgroup>
    </select>
  </div>

  <br>
  <span id="account">* </span>

</div>  <!--largest div-->
{% endblock content %}

{% block script %}
document.getElementById('account').innerHTML = 'ID: '; 
web3.eth.getAccounts(function(e,r){ document.getElementById('account').innerHTML += r[0]; });

{% endblock script %}

