{% extends 'base.html' %}
{% load static %}

{% block head_content %}
  <!-- Style for Datetime picker -->
  <link href='{% static "datetimepicker/css/bootstrap-datetimepicker.min.css"  %}' rel='stylesheet' type="text/css" media="screen">

  <link href='{% static "home/css/common.css"  %}' rel='stylesheet' type="text/css" media="screen">


{% endblock head_content %}

{% block body_content %}
  <input type="hidden" id="minSCT">

  <!-- Header -->
    <div class="container py-5">
      <div class="row">
        <div class="col-md-12" style="font-family: Helvetica Neue">
          <h1 class="display-3 mb-4 text-primary" style="font-weight:bold">Scotto</h1>
          <h3 class="lead mb-5">Predict the result of soccer games<br>based on Ethereum Smart Contract!</h3>
        </div>

        <div class="col-xl-9 mx-auto">
            <form class="mb-5">
              <div class="form-row col-md-12 mx-auto">

                <form action="" method="get" accept-charset="utf-8">
                  <div class="col-md-2">
                    <select class="form-control" id="league_selected" name="league_selected">
                      <optgroup label="League">
                        <option value="Z" disabled selected hidden>League</option>
                        {% for league in leagues %}
                          <option value="{{ league.name }}">{{ league.name }}</option>
                        {% endfor %}
                      </optgroup>
                    </select>
                  </div>

                  <div class="col-md-2">
                    <select class="form-control" name="teamA" id="teamA_selected" disabled="true">
                      <optgroup label="Team">
                        <option value="Z" disabled selected hidden>Team</option>
                      </optgroup>
                    </select>
                  </div>

                  <div class="col-md-2">
                    <select class="form-control" name="teamB" id="teamB_selected" disabled="true">
                      <optgroup label="Team">
                        <option value="Z" disabled selected hidden>Team</option>
                      </optgroup>
                    </select>
                  </div>

                </form>

                 <!-- Datetime picker-->
                 <div class="input-group date form_datetime col-md-4" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
                    <input class="form-control" size="16" type="text" value="" readonly>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					          <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                 </div>
				         <input type="hidden" id="dtp_input1" value="" /><br/>
           </form>
           <!-- Token Amount -->
           <input class="form-control col-md-2" type="number" id="create_token_amount" min="0" max="100" placeholder="SCT">
          </div>
          <button class="col-md-6 btn btn-lg btn-primary" onclick="createGame()" style="font-weight:bold">Submit</button>

      </div>
    </div>
  </div>

  <!-- Table -->
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <table class="table">
            <thead>
              <tr>
                <th>id</th>
                <th>League</th>
                <th>Game</th>
                <th>Time</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody id="game_table">
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="py-5 text-center" style="color:white">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>The SCOTTO Team</h1>
          <p class="lead">We grow together with the community</p>
        </div>
      </div>
      <div class="row">

        <div class="col-md-6 p-2">
          <img class="img-fluid d-block rounded-circle mx-auto" src="{%static "home/img/jaeyeon.jpg"%}">
          <p class="my-4"><i>Jaeyeon Kim</i></p>
          <p><b>Co-founder & Developer</b>

        </div>
        <div class="col-md-6 p-2">
          <img class="img-fluid d-block rounded-circle mx-auto" src="{%static "home/img/hy.jpg"%}">
          <p class="my-4"><i>Hyunyoung Jung</i></p>
          <p><b>Co-founder & Developer</b>

        </div>
      </div>
    </div>
  </div>

  <div class="py-5">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="mb-4 text-primary">Benefits and features</h1>

          <div class="row text-left mt-5">
            <div class="col-md-4 my-3">
              <div class="row mb-3">
                <div class="text-center col-2"><i class=" d-block mx-auto fa fa-3x fal fa-users"></i></div>
                <div class="align-self-center col-10">
                  <h5 class="text-secondary"><b>DECENTRALIZED</b></h5>
                </div>
              </div>
              <p>I don't take coffee, I take tea, my dear
I like my toast done on one side
And you can hear it in my accent when I talk
I'm an Englishman in New York </p>
            </div>
            <div class="col-md-4 my-3">
              <div class="row mb-3">
                <div class="text-center col-2"><i class="d-block mx-auto fa fa-3x fas fa-level-down-alt"></i></div>
                <div class="align-self-center col-10">
                  <h5 class="text-secondary"><b>LOW FEES</b></h5>
                </div>
              </div>
              <p>See me walking down Fifth Avenue
A walking cane here at my side
I take it everywhere I walk
I'm an Englishman in New York</p>
            </div>
            <div class="col-md-4 my-3">
              <div class="row mb-3">
                <div class="text-center col-2"><i class="d-block mx-auto fa fa-3x fas fa-shield-alt"></i></div>
                <div class="align-self-center col-10">
                  <h5 class="text-secondary"><b>SAFE, AUTOMATED PAYMENTS</b></h5>
                </div>
              </div>
              <p>Oh, I'm an alien, I'm a legal alien
I'm an Englishman in New York
Oh, I'm an alien, I'm a legal alien
I'm an Englishman in New York</p>
            </div>
            <div class="col-md-4 my-3">
              <div class="row mb-3">
                <div class="text-center col-2"><i class="d-block mx-auto fa fa-3x fas fa-universal-access"></i></div>
                <div class="align-self-center col-10">
                  <h5 class="text-secondary"><b>FOR ANYONE</b></h5>
                </div>
              </div>
              <p>If "manners maketh man" as someone said
He's the hero of the day
It takes a man to suffer ignorance and smile
Be yourself no matter what they say</p>
            </div>
            <div class="col-md-4 my-3">
              <div class="row mb-3">
                <div class="text-center col-2"><i class="d-block mx-auto fa fa-3x fal fa-search"></i></div>
                <div class="align-self-center col-10">
                  <h5 class="text-secondary"><b>ACCURATE</b></h5>
                </div>
              </div>
              <p>Oh, I'm an alien, I'm a legal alien
I'm an Englishman in New York
Oh, I'm an alien, I'm a legal alien
I'm an Englishman in New York</p>
            </div>
            <div class="col-md-4 my-3">
              <div class="row mb-3">
                <div class="text-center col-2"><i class="d-block mx-auto fa fa-3x fas fa-balance-scale"></i></div>
                <div class="align-self-center col-10">
                  <h5 class="text-secondary"><b>LAWFUL</b></h5>
                </div>
              </div>
              <p>Modesty, propriety can lead to notoriety
You could end up as the only one
Gentleness, sobriety are rare in this society
At night a candle's brighter than the sun</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 text-white text-left " style="background-image: url({%static "home/img/soccer.jpg"%});background-size:cover;">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <p class="lead"><i>"There are important counter-trends to this — encryption and cryptocurrency — that take power from centralized systems and put it back into people's hands"</i>
            <br> </p>
          <p class="lead m-0"><b>Mark Zuckerberg - Facebook</b></p>
        </div>
      </div>
    </div>
  </div>

{% endblock body_content %}

{% block script_content %}
  <!-- Datetime picker -->
  <script type="text/javascript" src='{% static "datetimepicker/jquery/jquery-1.8.3.min.js" %}' charset="UTF-8"></script>
  <script type="text/javascript" src='{% static "datetimepicker/bootstrap/js/bootstrap.min.js" %}'></script>
  <script type="text/javascript" src='{% static "datetimepicker/js/bootstrap-datetimepicker.js" %}' charset="UTF-8"></script>
  <script type="text/javascript" src='{% static "datetimepicker/js/locales/bootstrap-datetimepicker.es.js" %}' charset="UTF-8"></script>
  <script type="text/javascript" src='{% static "util/jquery.cookie.js" %}'></script>

  <script>
  // Script related to ajax & csrf token

  var csrftoken = $.cookie('csrftoken');

  function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }

  $.ajaxSetup({
      beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
      }
  });

  </script>

  <script>
  // Script related to web3

  var games;

  function init(){
    Toto = web3.eth.contract(mainAbi);
    Game = web3.eth.contract(gameAbi);

    console.log(contractAddress);

    Toto.at(contractAddress, function(e, instance) {
      toto = instance;
      instance.getGames(function(e,games){
        if(e){ console.log(e); return; }
        if (games.length == 0) return;

        for (let i=0; i<games.length; ++i){
          games[i] = Game.at(games[i]);
        }

        for (let i=games.length-1; i>=0; --i){
          getGameInfo(games, i).then(info => {
            document.getElementById("game_table").innerHTML +=
              `<tr>
                ${getGameInfoTds(i, info[0], info[1], info[2], info[3])}
              </tr>`;
          })// end getGameInfo
        }//end for
      });//end getGames
      instance.getCirculate(function(e,circSCT) {
        let minSCT = circSCT * 0.025;
        document.getElementById("minSCT").value = minSCT;
        document.getElementById("create_token_amount").placeholder += ` (min: ${minSCT})`;
      });
    });//end Toto.at
  };//endinit

  </script>


  <script type="text/javascript">

    // datetimepicker
    $(function() {
      var minDate = new Date();
      var maxDate = new Date();
      let CREATE_MAX = 7;
      let CREATE_MIN = 4;
      minDate.setDate(minDate.getDate() + CREATE_MIN)
      maxDate.setDate(maxDate.getDate() + CREATE_MAX);


      $('.form_datetime').datetimepicker({
        // startDate: minDate,
        // endDate: maxDate,
        weekStart: 1,
        todayBtn:  1,
      	autoclose: 1,
      	todayHighlight: 1,
      	startView: 2,
      	forceParse: 0,
        showMeridian: 1,
      });
    });

    $(document).ready(
      function() {
        $("select#league_selected").change(function() {
          if ($(this).val() == 'Z') {
            $("select#league_selected").html("<option value='Z' disabled selected hidden>League</option>");
            $("select#teamA_selected").attr('disabled', true);
            $("select#teamB_selected").attr('disabled', true);
          }
          else {
            let url = "/home/league/" + $(this).val().replace(" ", "_") + "/all_json_models";
            let team = $(this).val();
            $.getJSON(url, function(models) {
              let options = '<optgroup label="Team"><option value="Z" disabled selected hidden>Team</option>';
              for (let i = 0; i < models.length; i++) {
                options += `<option value="${models[i]['name']}">${models[i]['name']}</option>`;
              }
              options += `</optgroup>`
              $("select#teamA_selected").html(options);
              $("select#teamB_selected").html(options);

              $("select#teamA_selected").attr('selected', 'selected');
              $("select#teamB_selected").attr('selected', 'selected');

              $("select#teamA_selected").attr('disabled', false);
              $("select#teamB_selected").attr('disabled', false);
            });
          }
        });


        $("select#teamA").change(function(vent) {
          if ($(this).val() == -1) return;
        });
        $("select#teamB").change(function(vent) {
          if ($(this).val() == -1) return;
        });
      }
    );

    // Select Teams
    function createGame() {
      let league_opt = document.getElementById('league_selected');
      let teamA_opt = document.getElementById('teamA_selected');
      let teamB_opt = document.getElementById('teamB_selected');

      let league = league_opt[league_opt.selectedIndex].value;
      let teamA = teamA_opt[teamA_opt.selectedIndex].value;
      let teamB = teamB_opt[teamB_opt.selectedIndex].value;

      if (league==="Z"){
        alert("Please choose a league!");
        return;
      } else if (teamA === "Z" || teamB === "Z"){
        alert("Please choose a team!");
        return;
      } else if (teamA === teamB) {
        alert("Please choose different teams!");
        return;
      }

      // Sort team A and team B in alphabetic order
      let teams = [teamA, teamB].sort()
      teamA = teams[0]; teamB = teams[1];

      let tokenAmount = document.getElementById('create_token_amount').value;
      let minSCT = document.getElementById("minSCT").value;
      if (tokenAmount < minSCT){
        alert(`Token amount should be greater than ${minSCT}!`);
        return;
      }

      let game_date = $('.form_datetime').data('datetimepicker').getDate();
      let timestamp = toTimestamp(game_date.getFullYear(), game_date.getMonth()+1, game_date.getDate(), game_date.getHours(), game_date.getMinutes(), 0);

      let gameInfoStr = league + ":" + teamA + ":" + teamB + ":" + timestamp.toString();
      let hour = game_date.getHours();

      let noon = "AM";

      if (hour > 12){
        hour -= 12;
        noon = "PM";
      }

      let startDateStr = `${game_date.getFullYear()}/${game_date.getMonth()+1}/${game_date.getDate()} - ${noon} ${hour}:${game_date.getMinutes()}`;

      if (confirm(`Are you sure you want to create this game?\n
                  ${league} - ${teamA} vs ${teamB}
                  ${startDateStr}, ${tokenAmount} SCT`) && toto != undefined) {
                    console.log(timestamp);
        toto.createGame(gameInfoStr, timestamp, tokenAmount, function(e,txid){
          if(e) {
            console.log(e);
            console.log(timestamp);
            alert('Failed to create a game! (Please check if you have valid token amount, or check if the start date is within 7-4 days from current date)')
          }
          else {
            alert("Successfully voted to create a game!")
            $.ajax({
               type: "POST",
               url: "/home/putDB/create",
               data: {"txid":txid,
                      "addr": accountAddr,
                      "league":league,"teamA":teamA, "teamB":teamB,
                      "startTimeStamp":timestamp,
                },
                dataType: 'json',
               success: function() { console.log('Successfully put create Info into DB')}
            }); // end ajax
          } //end else
        }); // end toto.createGame
      } //endif
    }

  </script>

{% endblock script_content %}
